<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>avatar</key>
		<string>gentleman.png</string>
		<key>name</key>
		<string>Lotheve</string>
		<key>content</key>
		<string>好多萌物啊</string>
		<key>images</key>
		<string>moment1.jpg</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>gentleman.png</string>
		<key>name</key>
		<string>Lotheve</string>
		<key>content</key>
		<string>好多萌物啊好多萌物啊好多萌物啊好多萌物啊好多萌物啊好多萌物啊</string>
		<key>images</key>
		<string>moment4.jpg|moment3.jpg|moment2.jpg</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>gentleman.png</string>
		<key>name</key>
		<string>Lotheve</string>
		<key>content</key>
		<string>好多萌物啊好多萌物啊好多萌物啊</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>gentleman.png</string>
		<key>name</key>
		<string>Lotheve</string>
		<key>content</key>
		<string>好多萌物啊好多萌物啊好多萌物啊</string>
		<key>images</key>
		<string>moment10.jpg|momen5.jpg|moment3.jpg|moment6.jpg</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>gentleman.png</string>
		<key>name</key>
		<string>Lotheve</string>
		<key>content</key>
		<string>好多萌物啊好多萌物啊好多萌物啊</string>
		<key>images</key>
		<string>moment4.jpg|momen5.jpg</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>gentleman.png</string>
		<key>name</key>
		<string>Lotheve</string>
		<key>content</key>
		<string>好多萌物啊好多萌物啊好多萌物啊好多萌物啊好多萌物啊好多萌物啊好多萌物啊</string>
		<key>images</key>
		<string>moment8.jpg|moment2.jpg|moment9.jpg|moment3.jpg|moment7.jpg</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>gentleman.png</string>
		<key>name</key>
		<string>Lotheve</string>
		<key>content</key>
		<string>好多萌物啊好多萌物啊好多萌物啊好多萌物啊好多萌物啊好多萌物啊好多萌物啊好多萌物啊好多萌物啊好多萌物啊好多萌物啊好多萌物啊</string>
		<key>images</key>
		<string>moment1.jpg|moment2.jpg|moment3.jpg|moment4.jpg|moment5.jpg|moment6.jpg|moment7.jpg|moment8.jpg|moment9.jpg</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>gentleman.png</string>
		<key>name</key>
		<string>Lotheve</string>
		<key>content</key>
		<string>好多萌物啊好多萌物啊</string>
		<key>images</key>
		<string>moment10.jpg</string>
	</dict>
</array>
</plist>
