<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DemoKey</key>
		<string>timer</string>
		<key>DemoItem</key>
		<string>计时器</string>
		<key>DemoBusiness</key>
		<string>TimerController</string>
	</dict>
	<dict>
		<key>DemoKey</key>
		<string>video</string>
		<key>DemoItem</key>
		<string>视频播放器</string>
		<key>DemoBusiness</key>
		<string>VideoPlayerController</string>
	</dict>
	<dict>
		<key>DemoKey</key>
		<string>location</string>
		<key>DemoItem</key>
		<string>定位服务</string>
		<key>DemoBusiness</key>
		<string>LocationServiceController</string>
	</dict>
	<dict>
		<key>DemoKey</key>
		<string>3DTouch</string>
		<key>DemoItem</key>
		<string>3DTouch</string>
		<key>DemoBusiness</key>
		<string>ThreeDTouchController</string>
	</dict>
	<dict>
		<key>DemoKey</key>
		<string>Gradient</string>
		<key>DemoItem</key>
		<string>Graduate Color</string>
		<key>DemoBusiness</key>
		<string>GraduateColorController</string>
	</dict>
	<dict>
		<key>DemoKey</key>
		<string>Picker</string>
		<key>DemoItem</key>
		<string>DataPicker</string>
		<key>DemoBusiness</key>
		<string>DataPickerController</string>
	</dict>
	<dict>
		<key>DemoKey</key>
		<string>Carousel</string>
		<key>DemoItem</key>
		<string>旋转木马相册</string>
		<key>DemoBusiness</key>
		<string>CarouselController</string>
	</dict>
	<dict>
		<key>DemoKey</key>
		<string>Camera</string>
		<key>DemoItem</key>
		<string>相机使用</string>
		<key>DemoBusiness</key>
		<string>CameraController</string>
	</dict>
	<dict>
		<key>DemoKey</key>
		<string>refresh</string>
		<key>DemoItem</key>
		<string>下拉刷新</string>
		<key>DemoBusiness</key>
		<string>RefreshActionController</string>
	</dict>
	<dict>
		<key>DemoKey</key>
		<string>ImageTransform</string>
		<key>DemoItem</key>
		<string>图片旋转缩放及模糊</string>
		<key>DemoBusiness</key>
		<string>ImageTransformController</string>
	</dict>
</array>
</plist>
